/.env
/data/endpoints
/data/pokemon.db

/.idea/misc.xml
/.idea/modules.xml
/.idea/Poke_Scanner.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml

# entries merged from .idea/.gitignore
/.idea/shelf/
/.idea/workspace.xml

